{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Verification Page</title>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="jumbotron " style="margin:auto;width:30%">
            {% csrf_token %}
            <h3 style="text-align:center">Verify Email</h3>
            <label for="otp">Enter OTP </label>
            <input type="number" id="otp" name="otp" required>
            <br><br>
            {% for msg in messages %}
                <p style="color:red">{{msg}}</p>
            {% endfor %}
            <input type="submit" value="Verify" class="btn btn-primary " style="margin-left:40%">
        </form>
    </div>
{% endblock %}